<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
<meta charset="ISO-8859-1">
<title>Logged In</title>
<link rel="stylesheet" type="text/css" href="HomePageStyle.css">

<script src="angular.js"></script>
<script src="Header.js"></script>
<script src="angular-cookies.js"></script>
<script type="text/javascript">
var app=angular.module("myModule",['ngCookies']);
app.controller("myController",function ($scope,$cookies,$window,$http)
		{
	
	$scope.user=$cookies.get("Customer");
			$scope.logging=$cookies.get("LoggedIn");
			if($scope.logging=="false"){
				$window.location.href="LoginPage.html";
			}
			$scope.Customer=$cookies.get("Customer");
			$scope.logout=function()
			{
				$cookies.put("Customer","");
				$cookies.put("LoggedIn",false);
				$window.location.href="LoginPage.html";
			}

			
			$scope.log=$cookies.get("LoggedIn");
			if($scope.log=="true"){
				$scope.logo=true;
			}
			else{
				$scope.logo=false;
			}
	    	$scope.Products={
	    			"price":0,
	    			"itemName":"",
	    			"units":"",
	    			"avalability":"",
	    			"category":""
	    	};
			$scope.getDetailsOfProducts=function()
			{
				$http({
					method :'GET',
					url : 'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/getAllProducts/',
					
				}).then(function (response)
						{
							$scope.Products=response.data;
						});
			}
			$scope.i=0;
			$scope.Product={
					category:'',
					itemName:'',
					price:'',
					avalability:''
			};
			$scope.Update=function(category,itemName,price,avalability)
			{
				//$window.alert(category);
				//$window.alert(itemName);
				//$window.alert(price);
				//$window.alert(avalability);
				$scope.Product.category=category;
				$scope.Product.itemName=itemName;
				$scope.Product.price=price;
				$scope.Product.avalability=avalability;
				$http({
					method:'PUT',
					url:'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/UpdateProductDetails/'+category+'/'+itemName+'/'+price+'/'+avalability,
					data:angular.toJson($scope.Product),
					headers:{'Content-Type':'application/json'}
					
				}).then(function(reponse){
					$window.alert("Changes saved");
					$window.location.href="AdminEditingProductPrice.html";
				});
			}
			
			
		});
</script>
</head>
<body>
	<div class="Wrapper">
		<header ng-include="'Header.html'"></header>

	</div  ng-app="MyModule" ng-controller="MyController">
<center><h1>Welcome  {{user}}</h1></center><div  align="right"><input type="button" value="log out" class="HomeButtons" ng-click="logout()">
</div>
	<div class="content">
	<div ng-init="getDetailsOfProducts()">
	<div >
		<table border="1" align="center">
		<tr>
		<th>Category</th>
			<th><b>Name</b></th>
			<th><b>Units</b></th>
			<th><b>Price</b></th>
			<th><b>Avalability</b></th>
		</tr>
		<tr ng-repeat="Product in Products">
		<th>{{Product.category}}</th>
		<th>{{Product.itemName}}</th>
		<th>{{Product.units}}</th>
		<th><input type="number" ng-model="Product.price"></th>
		<th><input type="text" ng-model="Product.avalability"></th>
		<th><input type="button" value="Update"  class="CartButton" ng-click="Update(Product.category,Product.itemName,Product.price,Product.avalability)"> </th>
		</tr>
		</table>
	</div>
	</div>

</div>
</div>
<div>
	<footer ng-include="'Footer.html'"></footer>
	</div>



</body>
</html>