<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
<meta charset="ISO-8859-1">
<title>Logged In</title>
<link rel="stylesheet" type="text/css" href="SubPagesStyle.css">

<script src="angular.js"></script>
<script src="Header.js"></script>
<script src="angular-cookies.js"></script>
<script type="text/javascript">
var app=angular.module("myModule",['ngCookies']);
app.controller("myController",function ($scope,$cookies,$window,$http)
		{
	
	$scope.user=$cookies.get("Customer");
			$scope.logging=$cookies.get("LoggedIn");
			if($scope.logging=="false"){
				$window.location.href="LoginPage.html";
			}
			$scope.Customer=$cookies.get("Customer");
			$scope.logout=function()
			{
				$cookies.put("Customer","");
				$cookies.put("LoggedIn",false);
				$window.location.href="LoginPage.html";
			}

			
			$scope.log=$cookies.get("LoggedIn");
			if($scope.log=="true"){
				$scope.logo=true;
			}
			else{
				$scope.logo=false;
			}
			
			$scope.Save=function()
			{  
			
				//$window.alert($scope.data.FirstName+$scope.data.LastName+$scope.data.UserName+$scope.data.Email+$scope.data.PhoneNumber);
				var updateUser=$scope.data.UserName;
				$http({
					method:'PUT',
					url:'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/UpdateCustomerDetails/'+updateUser,
					data:angular.toJson($scope.data),
					headers:{'Content-Type':'application/json'}
					
				}).then(function(reponse){
					//$window.alert("Changes saved");
					$window.location.href="LoggedIn.html";
				});
			}
			$scope.cancel=function()
			{
				$window.location.href="LoggedIn.html";
			}
			$scope.getDetails=function(){
				$scope.Customer={
						UserName:'',
						FirstName:'',
						LastName:'',
						Email:'',
						Password:'',
						PhoneNumber:'',
						Address:''
				};
				var User=$cookies.get("Customer")
	    		$http({
	    			method :'GET',
	    			url : 'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/GetCustomerDetails/'+User,
	    			
	    		}).then(function (response)
	    				{
	    			$scope.Customer=response.data;
	    			$scope.data={
	    					UserName:$scope.Customer[0].UserName,
	    					FirstName:$scope.Customer[0].FirstName,
	    					LastName:$scope.Customer[0].LastName,
	    					Email:$scope.Customer[0].Email,
	    					PhoneNumber:$scope.Customer[0].PhoneNumber,
	    					Address:$scope.Customer[0].Address
	    			};
	    				});
	    		
	    	}
			
		});
</script>
</head>
<body>
	<div class="Wrapper">
		<header ng-include="'Header.html'"></header>

	</div  ng-app="MyModule" ng-controller="MyController">
<center><h1>Welcome  {{user}}</h1></center><div  align="right"><input type="button" value="log out" class="HomeButtons" ng-click="logout()">
</div>
	<div class="content">
	<div ng-init="getDetails()">
	</div>

<table align="center" >
	
	<tr>
		<td><b>FirstName:</b></td>
		<td><input type="text" ng-model="data.UserName"></td>
		
	</tr>
	<tr>
		<td><b>LastName:</b></td>
		<td><input type="text" ng-model="data.FirstName"></td>
	
	</tr>
	<tr>
		<td><b>Email:</b></td>
		<td><input type="text" ng-model="data.Email"></td>
	
	</tr><tr>
		<td><b>Phone Number:</b></td>
		<td><input type="text" ng-model="data.PhoneNumber"></td>
	
	</tr>
	<tr>
		<td><b>Address:</b></td>
		<td><textarea rows="6" cols="50" ng-model="data.Address"></textarea></td>
		</tr>
		<tr>
			<td><input type="button" value="Save" class="registerButton" ng-click="Save()"></td>
			<td><input type="button" value="Cancel" class="registerButton" ng-click="cancel()"></td>
		</tr>
</table>
</div>
</div>
<div>
	<footer ng-include="'Footer.html'"></footer>
	</div>



</body>
</html>