<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="ISO-8859-1">
<title>Cherry</title>
<link rel="stylesheet" type="text/css" href="SubPagesStyle.css">

<script src="angular.js"></script>
<script src="Header.js"></script>
<script type="text/javascript">
 var app=angular.module("MyModule",[]);
 app.controller("MyController",function ($scope)
		 {
	 		$http({
	 			
	 		});	
	 		}
		 });
</script>
</head>
<body>
	<div class="Wrapper">
		<header ng-include="'Header.html'"></header>

	</div  ng-app="MyModule" ng-controller="MyController">
	<div class="content">
		<div>
			<img alt="Cherry" src="project images/fruits/cherry.jpg"
				class="center">
			<h3 align="center">Cherry</h3>
			<table align="center">
				<tr>
					<td>Enter Units:</td>
					<td><input type="text" name="units" ng-model="demo.units"
						ng-init="demo.units=1 "></td>
				</tr>
				<tr>
					<th ng-init="demo.price=12">The Cost For {{demo.units}} units
						is {{demo.price*demo.units}}</th>
				</tr>
				<tr>
					<th><input type="button" class="registerButton"
						value="Add To Cart" ng-click="AddingToCart()"></th>
				</tr>
			</table>


		</div>

	</div>


	<footer ng-include="'Footer.html'"></footer>
	</div>



</body>
</html>