<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
<meta charset="ISO-8859-1">
<title>SOft Drinks</title>
<link rel="stylesheet" type="text/css" href="SubPagesStyle.css">
<script src="angular.js"></script>
<script src="Header.js"></script>
    <script src="angular-cookies.js"></script>

<script type="text/javascript">
var app=angular.module("myModule",['ngCookies']);

app.controller("myController",function($scope,$http,$window,$cookies){
	$scope.log=$cookies.get("LoggedIn");
	if($scope.log=="true"){
		$scope.logo=true;
	}
	else{
		$scope.logo=false;
	}
	$scope.user=$cookies.get("Customer");
	//$scope.log=false;
	//$window.alert($scope.log);
	$scope.avalabilityOf={
			thumpsup:'',
			maaza:'',
			appy:'',
			minutemaid:'',
			pepsi:''
			
	};
	
	$scope.cheakavalability=function()
	{
		var product="softdrinks";
		$http({
			method:'GET',
			url:'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/cheakavalability/'+product
		}).then(function(response){
			$scope.avalabilityOf=response.data;
			$scope.len=$scope.avalabilityOf.length;
			//$window.alert($scope.avalabilityOf);
		});
	}
	$scope.GettingPrice=function(){
		var product="softdrinks";
		$http({
			method :'GET',
			url : 'http://localhost:8080/DigitalShoppingCartDemo/webresources/ResourceForAll/GetCategoryPrice/'+product
			
		}).then(function (response)
				{
			$scope.Price=response.data;
			//$window.alert($scope.Price);
				});
	}

});
</script>
</head>
<body>
	<div class="Wrapper">		
			<header ng-include="'Header.html'"></header>
			
		</div>
		<div ng-init="GettingPrice()"></div>
		<div class="content" ng-init="cheakavalability()">
			<div class="gallery" ng-if="avalabilityOf[0]=='true'">
				<a href="Thumpsup.html"><img alt="Thumps up" src="project images/soft drinks/thumpsup.jpeg"></a>
				<div class="desc"><p>Thumps up</p>
				Price:{{Price[0]}}</div>
			</div>
			
			<div class="gallery" ng-if="avalabilityOf[1]=='true'">
				<a href="maaza.html"><img alt="maaza" src="project images/soft drinks/maaza.jpg"></a>
				<div class="desc"><p>maaza</p>
				Price:{{Price[1]}}</div>
			</div>
			<div class="gallery" ng-if="avalabilityOf[2]=='true'">
				<a href="appy.html"><img alt="appy" src="project images/soft drinks/appy_fizz.jpg"></a>
				<div class="desc"><p>appy</p>
				Price:{{Price[2]}}
				</div>
			</div>
			<div class="gallery" ng-if="avalabilityOf[3]=='true'">
				<a href="MinuteMaid.html"><img alt="minute maid" src="project images/soft drinks/minutemade.jpg"></a>
				<div class="desc"><p>minute maid</p>
				Price:{{Price[3]}}</div>
			</div>
			<div class="gallery" ng-if="avalabilityOf[4]=='true'">
				<a href="pepsi.html"><img alt="pepsi" src="project images/soft drinks/pepsi1.jpg"></a>
				<div class="desc"><p>pepsi</p>
				Price:{{Price[4]}}
				</div>
			</div>
		</div>
		
		
		<footer ng-include="'Footer.html'"></footer>
	</div>
	
	

</body>
</html>